#page {
    div[data-role="content"] {
        margin-top: 6rem;
        a {
            margin: 10% 0;
        }
    }
}

#enterprise,
#person {
    div[data-role="content"] {
        margin-top: 5rem;

        label {
            margin: 5% 0;
        }
    }
}